BOT_TOKEN=XXXXXXXXX
SECRET_WORD=XXXXXXXXXXXXXX
WEBHOOK_HOST=https://XXXXXXXXX.ngrok-free.app


SERVER_HOST=0.0.0.0
SERVER_PORT=8002


MESSAGE_SERVICE_URL=https://XXXXXXXXXXXXXXXXXXX.com/message_service
MESSAGE_SERVICE_USER_REGISTRATION_PATH=/user_registration/bot
MESSAGE_SERVICE_SEND_MESSAGE_PATH=/send_a_message_to_chat
MESSAGE_SERVICE_PLATFORM_REGISTRATION_PATH=/platform_registration/bot


DATABASE_URI=sqlite+aiosqlite:///data/db.sqlite3